main{
    text-align: left;
    margin-top: 5%;
    margin-right: 8%;
    margin-left: 8%;
}
#infoboks {
    position: relative;
    text-align: justify;
    display: table;   
}
#infobilde { 
    height: auto;
    width: 40%;
    border-radius: 10%;
    float: left;
    }
#bilde-info{
    margin-left: 40%;
}
#tekst {
    text-align: left;
}
#infoh1 {
    font-size: 5vw;
    padding-bottom: 2%;
}
@media (min-width: 1000px){
    main #infoh1 {
        font-size: 40px;
    }
}