*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #eeeeee;
    font-family: 'Open Sans', sans-serif;
}
#wrapper {
    /*Grid*/
    display: grid;
    grid-template-rows: auto auto minmax(800px, auto) 100px;
    grid-template-areas: "h"
                         "n"
                         "m"
                         "f";
}
header{
    grid-area: h;
    display: flex;
    background-color: #009688;
}
header #coverbilde{
    position: relative;
    margin-top: 0px;
    margin-bottom: 0;
    background-color: rgb(6, 29, 27);
}
header #coverbilde img{
    width: 100%;
    height: 100%;
    flex: 1;
}
header #coverbilde h1{
    display: block;
    top: 15%; 
    left: auto;
    right: 0%;
    width: 40%; 
    position: absolute; 
    background: none;
    font-size: 4vw;
}
header span{
    display: block;
    color: white; 
    letter-spacing: -1px;  
    background: rgb(0, 0, 0); 
    background: rgba(0, 0, 0, 0.7);
    padding-right: 20px;
    padding-left: 20px;
}
nav{
    padding-top: none;
    grid-area: n;
    background-color: #009688;
}
nav ul{
    list-style-type: none;
    background-color: #009688;
    overflow: hidden;
    padding-left: 8%;
}
nav ul li{
    float: left;
}
nav li a{
    display: inline-block;
    background-color: #009688;
    color: white;
    font-size: 4vw;
    padding: 14px 16px;  
    padding-top: 8px;
    padding-bottom: 8px;
    text-decoration: none;
    height: auto;
    transition: background .5s ease-in-out;
    -moz-transition: background .5s ease-in-out;
    -webkit-transition: background .5s ease-in-out;
}
nav li a:hover{
    background-color: #003b34;
}
a:active {
    background-color: #003b34;
}
#scrolltop {
	position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 6vh;
}
.scrolltop {
    display: none;
}
#scrolltop{
    height: auto;
}

main{
    grid-area: m;
}
main #tekst{
    margin-left: 10%;
    margin-right: 10%;
    font-size: 2vw;
    font-size: 2vmin;
}
footer{
    grid-area: f;
    background-color: #00695C;
}
@media (min-width: 1000px) {
    #wrapper {
       grid-template-rows: auto auto minmax(800px, auto) 100px;
    }
    nav li a {
       font-size: 34px;
    }
    #scrolltop{
        height: 62px;
    }
  }