* {
    margin: 0;
    padding: 0;
    left: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 300px;
    width: 100%;
    margin: 0 auto;
}

header #logo {
    z-index: 2;
    height: 100%;
    margin-left: 5vw;
}

header #headerText {
    font-size: 60px;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 10px 20px 10px 20px;
    color: white;
}

header #coverImage {
    position: absolute;
    width: 100%;
    z-index: 1;
    height: 300px;
    top: 0;
    left: 0;
}

nav {
    width: 100%;
    height: 10vh;
}

nav ul {
    display: flex;

    background-color: #009688;
    margin: 0 auto;
    align-items: center;
    list-style: none;
    flex-direction: row;
}

nav ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: transparent;
    height: 8vh;
    width: calc(100vw / 4);
    transition: background .4s ease-in-out;
    -moz-transition: background .4s ease-in-out;
    -webkit-transition: background .4s ease-in-out;

}

nav ul li:hover {
    background-color: #003b34;
}

nav ul .current {
    box-shadow: inset 0px -5px 0px #003b34;
}

nav ul li a {
    width: calc(98vw / 4);
    font-size: 4vw;
    background-color: transparent;
    text-decoration: none;
    color: white;
}


footer {
    width: 100%;
    background-color: #003b34;
    text-align: center;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer h1 {
    color: white;
    height: 10vh;
}

footer #sponsors {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

main {
    min-height: calc(100vh - 270px - 10vh);
}

@media (min-width: 1000px) {
    nav ul li a {
        font-size: 40px;
    }

    footer div img {
        max-height: 100px;
    }
}

@media (max-width: 1000px) {
    nav ul li a {
        font-size: 5vw;
    }

    header {
        height: 20vw;
    }

    header #headerText {
        font-size: 5vw;

    }

    header #coverImage {
        height: 20vw;
    }

    header #logo {
        width: 25vw;
        height: auto;
    }

    footer #sponsors {
        display: flex;
        flex-flow: row wrap;
    }

    footer div img {
        padding: 4vw;
        width: 50%;
        height: 50%;
    }

}