main{
    text-align: center;
    margin-top: 5%;
}
main #overskrift {
    font-size: 5vw;
    padding-bottom: 5%;
}
main #artist {
    padding-bottom: 30px;
    position: relative;
    display: table;
}
main #overskrift-artist{
    padding-left: 40px;
    font-size: 3vw;
    font-size: 3vmin;
}
main #artistbilde {
    width: 25%;
    height: auto;
    border-radius: 10%;
    float: left;
    margin-left: 20%;
}
@media (min-width: 1000px){
    main #overskrift {
        font-size: 50px
    }
}