main {
    margin-top: 10vh;
}
main .timeplan {
    width: 80%;
    margin: 0 auto;
    padding: 2vw;
    margin-top: 30px;
    margin-bottom: 30px;
    border: 3px solid #003b34;
}

main .timeplan .tab {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    flex-direction: row;
}

main .timeplan .tab button {
    width: 100%;
    padding: 1vw;
    margin: 1vw;
    border-radius: 0;
    border: 3px solid #003b34;
    color: #003b34;
    font-size: 20px;
    background-color: white;
}

main .timeplan .tabcontent {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    margin-top: 30px;
    display: none;
    text-align: center;
    align-items: center;
}

main .timeplan .tabcontent .artist {
    height: 100%;
    font-size: 3vw;
    width: 50%;
}

main .timeplan .tabcontent .artist img {
    height: 100%;
    width: 70%;
    padding: 2vw;
    border-radius: 5vw;
}

@media (min-width: 1000px){
    main .timeplan .tabcontent .artist img {
        width: 400px;
        height: auto;
    }
    main .timeplan .tabcontent .artist {
        height: 100%;
        font-size: 30px;
        width: 50%;
    }
}